/* Regole generali */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
}

.flex {
  display: flex;
  align-items: center;
}

.f-right {
  float: right;
}

.f-left {
  float:left;
}

li {
  list-style: none;
}

img {
  width: 40px;
  height: auto;
  border-radius: 50%;
}

.back-wh {
  background-color: white;
}

.col-grey {
  color: grey;
}

i {
  color: grey;
  font-size: 18px;
}

/* Contenitore app */

.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: lightgrey;
}

#header {
  height: 100px;
  background-color: #128C7E;
}

/* Finestra app */

#window {
  width: 90%;
  height: 90%;
  position: absolute;
  top: 5%;
  left: 5%;
}

/* Finestra app: colonna sinistra */

.left-column {
  width: 30%;
  height: 100%;
  border-right: 1px solid lightgrey;
  background-color: #F5F5F5;
}


.bar {
  width: 100%;
  min-height: 10%;
  background-color: #ededed;
}

.avatar {
  padding: 5px 20px;
}

.icon {
  width: 50%;
}

.info, .icon > i {
  padding-left: 10px;
}

.info.chat > p {
   white-space: nowrap;
   width: 190px;
   overflow: hidden;
   text-overflow: ellipsis;
}

.space {
  padding-top: 15px;
  padding-bottom: 15px;
}

.notification-bar {
  min-height: 15%;
  background-color: #9de1fe;
}

.notification-bar i {
  border-radius: 50%;
  padding: 15px;
  color: #34b7f1;
  font-size: 15px;
}

.search {
  height: 40px;
  width: 90%;
  border-radius: 5px;
  margin: 5px auto;
  padding: 3px 0;
}

.search > input {
  width: 100%;
  border: none;
}

.list-chat {
  height: 65%;
  overflow-y: auto;
}

.list-chat li {
  border-bottom: 1px lightgrey solid;
}

.list-chat li:hover {
  background-color: #ededed;
  cursor: pointer;
}

.active {
  background-color: #ededed;
}

/* Finestra app: colonna destra */

.right-column {
  width: 70%;
  height: 100%;
}

.chat-area {
  height: 80%;
  background-image: url("../img/mine.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: auto;
}

.bar > input {
  width: 90%;
  height: 40px;
  border-radius: 10px;
  margin: 0px auto;
}

.msg-container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  flex-direction: column;
  padding-top: 10px;
}

.msg-sent {
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: 30px;
}

.msg-received {
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}

.msg-bubble {
  min-height: 50px;
  max-width: 50%;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.msg-bubble:hover {
  transform: translate(2%);
}

.msg-received > .msg-bubble {
  background-color: rgb(220, 248, 198);
}

.date {
  font-size: 10px;
  padding-top: 5px;
  padding-right: 5px;
}

/* Mediaquery */
@media only screen and (max-width: 1100px) {
  * {
    font-size: 11px;
  }
}
