/* Regole generali */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
}

.flex {
  display: flex;
  align-items: center;
}

li {
  list-style: none;
}

/* Contenitore app */

.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: lightgrey;
}

#header {
  height: 100px;
  background-color: #128C7E;
}

/* Finestra app */

#window {
  width: 90%;
  height: 90%;
  position: absolute;
  top: 5%;
  left: 5%;
}

/* Finestra app: colonna sinistra */

.left-column {
  width: 30%;
  height: 100%;
  border-right: 1px solid lightgrey;
  background-color: #ededed;
}

.bar {
  width: 100%;
  height: 10%;
  background-color: #ededed;
}

.avatar {
  padding: 5px 20px;
}

.avatar > img {
  width: 40px;
  height: auto;
  border-radius: 50%;
}

.icon {
  width: 50%;
  justify-content: flex-end;
}

.bar i {
  font-size: 18px;
}

.info, .icon > i {
  padding-left: 10px;
}

.info.chat > p {
   white-space: nowrap;
   width: 150px;
   overflow: hidden;
   text-overflow: ellipsis;
}

.grey {
  color: grey;
}

.space {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0.5px solid lightgrey;
}

.notification-bar {
  height: 15%;
  background-color: #34b7f1;
}

.notification-bar i {
  border-radius: 50%;
  padding: 15px;
  background-color: white;
  color: #34b7f1;
  font-size: 15px;
}


.search {
  width: 95%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: 5px auto;
  background-color: white;
  padding: 5px;
}

.search > span > input {
  width: 200px;
  border: none;
}

.active-chat {
  overflow-y: auto;
  background-color: white;
}

/* Finestra app: colonna destra */

.right-column {
  width: 70%;
  height: 100%;
}

.chat-area {
  height: 80%;
  background-image: url("../img/mine.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: auto;
}

.bar > input {
  width: 90%;
  height: 40px;
  border-radius: 10px;
  margin: 0px auto;
}

.msg-container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  flex-direction: column;
  padding-top: 10px;
}

.msg-sent {
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
}

.msg-received {
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}

.msg-bubble {
  min-height: 50px;
  max-width: 50%;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
}

.msg-received > .msg-bubble {
  background-color: rgb(220, 248, 198);
}

/* Mediaquery */
@media only screen and (max-width: 1197px) {
  * {
    font-size: 13px;
  }
}
