<!DOCTYPE html>
<html lang="it" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Whatapp interface simulation</title>
    <!-- Link al file CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Link a Vue js -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- Mediaquery -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Link a Fontawesome -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
      <!-- Link Google font -->
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap" rel="stylesheet">
  </head>
  <body>

    <div class="container">
      <div id="header">
      </div>
      <div id="window">
        <div class="left-column f-left">
          <div class="bar">
            <div class="avatar flex">
              <img src="img/avatar_io.jpg" alt="">
              <div class="info">
                <h4>Nome utente</h4>
              </div>
              <div class="icon flex">
                <i class="fas fa-circle-notch"></i>
                <i class="fas fa-comment-alt"></i>
                <i class="fas fa-ellipsis-v"></i>
              </div>
            </div>
          </div>

          <div class="notification-bar flex">
            <ul>
              <li>
                <div class="avatar flex">
                  <i class="fas fa-bell-slash back-wh"></i>
                  <div class="info">
                    <h4>Ricevi notifiche di nuovi messaggi</h4>
                    <h4><a href="#">Attiva notifiche desktop</a></h4>
                  </div>
                </div>
             </li>
            </ul>
          </div>

          <div class="search flex back-wh">
            <i class="fas fa-search avatar">
            </i>
            <input type="textarea" name="" value="" placeholder="Cerca o inizia una nuova chat" v-model="searchChat" @keyup="search">
          </div>

            <section class="list-chat back-wh" >
              <ul>
                <li v-for="(item, index) in chat"  :class="{'active': index === chatActive}" @click="chatSelect(index)" v-if="item.show">
                  <p class="date f-right col-grey"> {{ item.msg[item.msg.length-1].date }} </p>
                  <div class="avatar flex space">
                    <img :src="item.img" alt="">
                    <div class="info chat">
                      <h4>{{ item.username }}</h4>
                      <p class="col-grey"> {{ item.msg[item.msg.length-1].text }} </p>
                      </div>
                    </div>
                  </li>
              </ul>
            </div>
          </section>

    <!-- Colonna di destra -->
          <div class="right-column f-left">
            <div class="bar">
              <div class="avatar flex">
                <img :src="chat[chatActive].img" alt="">
                <div class="info">
                  <h4>{{ chat[chatActive].username }} </h4>
                  <p class="col-grey"> {{ chat[chatActive].lastAccess }}</p>
                </div>
                  <div class="icon flex">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip"></i>
                    <i class="fas fa-ellipsis-v"></i>
                  </div>
                </div>
            </div>

            <div class="chat-area">
              <div class="msg-container flex">
                <div class="flex" v-for="item in chat[chatActive].msg" :class="item.type==='ric' ? 'msg-received' : 'msg-sent'">
                  <div class="msg-bubble back-wh">
                    <p> {{ item.text }} </p>
                    <p class="date f-right col-grey"> {{ item.date }} </p>
                    <p> {{ item.newtext }} </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="bar flex">
              <div class="avatar">
                <i class="far fa-smile"></i>
              </div>
              <input type="textarea" name="" value="" placeholder=" Scrivi un messaggio..." v-model="newText" v-on:keyup.enter="add() ; setTimeout()">
              <div class="avatar" @click="add() ; setTimeout()">
                <i class="fas fa-microphone" @click="add"></i>
              </div>
            </div>

          </div>
        </div>
      </div>

    <script type="text/javascript" src="js/script.js">

    </script>
  </body>
</html>
